
.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('https://i.pinimg.com/736x/dd/ca/be/ddcabeb0bbdd9cdb4e5e911c18a4987c.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  font-family: Arial, sans-serif;
  color: white;
}


.home-content {
  text-align: center;
}

.home-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 18px;
  opacity: 0.9;
}


.home-actions {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
}

.signup {
  background-color: #1da1f2;
  color: white;
}

.signup:hover {
  background-color: #0d8ddb;
}

.login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.login:hover {
  background-color: white;
  color: black;
}

.home-actions span {
  font-size: 14px;
  opacity: 0.8;
}